* {
  font-family: 'Courier New', Courier, monospace;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5px;

}

header p {
  color: teal;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.container {
  text-align: center;
  margin: auto 20%;
}

.title {
  font-size: 40px;
}

.start-btn {
  font-size: 20px;
  background-color: teal;
  color: white;
  border-radius: 4px;
  border: none;
  padding: 8px
}

.highscores-btn {
  color: teal;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: transparent;
}
